<header>
    <nav>
        <a href="/">Party e-Invitation</a>
        <ul>
            <li><a href="/all">All Invitations</a></li>
            <li><a href="/new">New Invitations</a></li>
        </ul>
    </nav>
</header>